<!DOCTYPE html>
<html lang="en">
  <% include ../includes/head %>
  <body>
    <div class="container">
          
      <% include ../includes/nav %>

      <br />
      
      <div class="row ">
        <div class="col-md-12 text-center">
          <h3>About</h3>
        </div>
      </div>
      
      <br />
      
      <div class="row ">
        <div class="col-md-3.5 text-center">
          <div class="card">
            <img class="card-img-top" src="images/me.jpg" alt="Me">
            <div class="card-body">
              <p class="card-text text-center">Me</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <% include ../includes/footer %>
    
    <% include ../includes/scripts %>
  </body>
</html>