<!DOCTYPE html>
<html lang="en">
  <% include ../includes/head %>
  <body>
    <div class="container">
          
      <% include ../includes/nav %>

      <br />
      
      <div class="row ">
        <div class="col-md-12 text-center">
          <h3>About</h3>
        </div>
      </div>
      
      <br />
      
      <div class="row ">
        <div class="col-md-3.5 text-center">
          <div class="card">
            <img class="card-img-top" src="images/me.jpg" alt="Me">
            <div class="card-body">
              <p class="card-text text-center">Me</p>
            </div>
          </div>
        </div>
        <div class="col-md-6.5">   
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97639.74422589269!2d-88.34715017610633!3d40.11460995537601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880cd08dde97691b%3A0x30f57847b475bfcf!2sChampaign%2C+IL!5e0!3m2!1sen!2sus!4v1505198823588" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      
    </div>

    <% include ../includes/footer %>
    
    <% include ../includes/scripts %>
  </body>
</html>