<!DOCTYPE html>
<html lang="en">
  <% include ../includes/head %>
  <body>
    <% include ../includes/nav %>

    <br />
    
    <div class='text-center'>
        <h3>Portfolio</h3>
    </div>

    <br />
    <br />

    <div class="row">              
      <div class="col-sm-4" style="padding-left: 50px">
        <div class="card" style="width: 20rem; padding: 10px;">
          <div class="card-body">
            <h4 class="card-title">customshells</h4>
            <h6 class="card-subtitle mb-2 text-muted">Node.js</h6>
            <p class="card-text">A library to simplify the use of shells</p>
            <a href="https://github.com/Awpatterson217/customshells" class="card-link">GitHub</a>
            <a href="https://www.npmjs.com/package/customshells" class="card-link">npm</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="card" style="width: 20rem; padding: 10px;">
            <div class="card-body">
            <h4 class="card-title">tree-trav</h4>
            <h6 class="card-subtitle mb-2 text-muted">Node.js</h6>
            <p class="card-text">A library to handle nested directories</p>
            <a href="https://github.com/Awpatterson217/tree-trav" class="card-link">GitHub</a>
            <a href="https://www.npmjs.com/package/tree-trav" class="card-link">npm</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 20rem; padding: 10px;">
          <div class="card-body">
            <h4 class="card-title">August</h4>
            <h6 class="card-subtitle mb-2 text-muted">Node.js, Vue.js, MongoDB</h6>
            <p class="card-text">A web application to organize and display data</p>
            <a href="https://github.com/Awpatterson217/august" class="card-link">GitHub</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">            
      <div class="col-sm-4" style="padding-left: 50px">
        <div class="card" style="width: 20rem; padding: 10px;">
          <div class="card-body">
            <h4 class="card-title">Unity Homes</h4>
            <h6 class="card-subtitle mb-2 text-muted">Node.js, Vue.js, MongoDB</h6>
            <p class="card-text">A web application for a real estate business</p>
            <a href="http://www.unity-homes.com" class="card-link">unity-homes.com</a>
            <a href="https://github.com/Awpatterson217/unity-homes.com" class="card-link">GitHub</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card" style="width: 20rem; padding: 10px;">
          <div class="card-body">
            <h4 class="card-title">CharlestonMapped</h4>
            <h6 class="card-subtitle mb-2 text-muted">React Native</h6>
            <p class="card-text">An interactive mobile application</p>
            <a href="https://github.com/Awpatterson217/CharlestonMapped" class="card-link">GitHub</a>
          </div>
        </div>
      </div>
    </div>

    <br />

    <% include ../includes/footer %>
    
    <% include ../includes/scripts %>
  </body>
</html>