<!DOCTYPE html>
<html lang="en">
  <% include ../includes/head %>
  <body class="container">
    <% include ../includes/nav %>

    <section name='jumbotron'>
      <div class='jumbotron text-center'>
        <p>Welcome to portfolio</p>
      </div>
    </section>

    <% include ../includes/footer %>
    
    <% include ../includes/scripts %>
  </body>
</html>