<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/home">adamwpatterson.com <span class="sr-only">(current)</span></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id="portfolio" class="nav-link" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
                <a id="about" class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a id="contact" class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a id="blog" class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Visit</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="https://www.linkedin.com/in/adamwpatterson/">LinkedIn</a>
                    <a class="dropdown-item" href="https://github.com/Awpatterson217">GitHub</a>
                    <a class="dropdown-item" href="https://stackoverflow.com/users/6643918/adam-patterson?tab=profile">Stackoverflow</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="/august">August</a>
            </li>
        </ul>
    </div>
</nav>