<nav class="navbar navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link" href="/home">Home</a>
        <a class="nav-item nav-link" href="/portfolio">Portfolio</a>        
        <a class="nav-item nav-link" href="/about">About</a>
        <a class="nav-item nav-link" href="/contact">Contact</a>
        <a class="nav-item nav-link" href="/blog">Blog</a>        
        <a class="nav-item nav-link" href="/august">August</a>
        <span class="navbar-text text-center">
            adamwpatterson.com
        </span>
        </div>
    </div>
</nav>